openapi: 3.2.0
info:
  title: OAG Profile API
  version: '2026-09-23'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-23: 20 operation(s) read from 23 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; OAG has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 20
    pages-with-code: 1
    pages-read: 23
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-23'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developers.oag.com/apis/schedules
  - https://developers.oag.com/apis/locations-v1
  - https://developers.oag.com/apis/flight-info-v2
  - https://developers.oag.com/apis/flight-info-alerts-v1
  - https://developers.oag.com/apis/flight-info-v2/GetFlight
  - https://developers.oag.com/apis/flight-info-v2/GetFlights
  - https://developers.oag.com/apis/locations-v1/GetLocations
  - https://developers.oag.com/apis/flight-info-connections-v1
  - https://developers.oag.com/apis/flight-info-alerts-v1/status
  - https://developers.oag.com/apis/schedules/GetActiveSchedules
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAlert
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAlerts
  - https://developers.oag.com/apis/flight-info-alerts-v1/createAlert
  - https://developers.oag.com/apis/flight-info-alerts-v1/deleteAlert
  - https://developers.oag.com/apis/flight-info-alerts-v1/updateAlert
  - https://developers.oag.com/apis/schedules/schedules-iata-carriers
  - https://developers.oag.com/apis/schedules/schedules-icao-carriers
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAccessKey
  - https://developers.oag.com/apis/flight-info-alerts-v1/updateProfile
  - https://developers.oag.com/apis/flight-info-alerts-v1/completeProfile
  - https://developers.oag.com/apis/flight-info-connections-v1/Connections
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAccountProfile
  - https://developers.oag.com
servers:
- url: https://api.oag.com
tags:
- name: Profile
paths:
  /profile:
    post:
      operationId: post_profile
      tags:
      - Profile
      summary: Complete Profile
      x-source: https://developers.oag.com/apis/flight-info-alerts-v1/completeProfile
      parameters:
      - name: Subscription-Key
        in: header
        required: true
        schema:
          type: string
        description: Valid API key passed as Subscription-Key in the request header.
      - name: version
        in: query
        required: false
        schema:
          type: string
        description: API version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProfileRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostProfileResponse'
      x-evidence:
        kind: documentation
  /profile/{accountid}:
    patch:
      operationId: patch_profile_accountid
      tags:
      - Profile
      summary: Update Profile
      description: Update the customer profile along with the provided Subscription key and mandatory parameters.
      x-source: https://developers.oag.com/apis/flight-info-alerts-v1/updateProfile
      parameters:
      - name: accountid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchProfileAccountidRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchProfileAccountidResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    PostProfileResponse:
      type: object
      properties:
        accountId:
          type: string
          description: Alphanumeric characters. Generated on the creation of the customer profile
        evtPrimaryConnectionString:
          type: string
          description: The primary connection string to the Event Hub
        evtSecondaryConnectionString:
          type: string
          description: The secondary connection string to the Event Hub
    PatchProfileAccountidResponse:
      type: object
      properties:
        '200':
          type: string
          description: OK
        '400':
          type: string
          description: Bad Request
        '404':
          type: string
          description: Not Found
        '406':
          type: string
          description: Not Acceptable
        '409':
          type: string
          description: Conflict
        '422':
          type: string
          description: Unprocessable Entity
        '500':
          type: string
          description: Internal Server Error
    PatchProfileAccountidRequest:
      type: object
      properties:
        firstName:
          type: string
          description: Customer’s first name
        lastName:
          type: string
          description: Customer’s surname
        email:
          type: string
          description: Customer’s email address
        secondaryEmail:
          type: string
          description: Customer’s alternative email address
        country:
          type: string
          description: A two-character ISO country code designated to the customer’s country of location
        content:
          type: string
          description: If specified, additional data is included in the API response in the Premium Content group
        companyName:
          type: string
          description: Customer’s company name
      required:
      - firstName
      - lastName
      - email
      - country
      - companyName
    PostProfileRequest:
      type: object
      properties:
        firstName:
          type: string
          description: Customer’s first name
        lastName:
          type: string
          description: Customer’s surname
        email:
          type: string
          description: Customer’s email address
        secondaryEmail:
          type: string
          description: Customer’s alternative email address
        country:
          type: string
          description: A two-character ISO country code designated to the customer’s country of location
        content:
          type: string
          description: If specified, additional data is included in the API response in the Premium Content group
        companyName:
          type: string
          description: Customer’s company name
      required:
      - firstName
      - lastName
      - email
      - country
      - companyName
