openapi: 3.2.0
info:
  title: OAG Locations API
  version: '2026-09-23'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-23: 20 operation(s) read from 23 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; OAG has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 20
    pages-with-code: 1
    pages-read: 23
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-23'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developers.oag.com/apis/schedules
  - https://developers.oag.com/apis/locations-v1
  - https://developers.oag.com/apis/flight-info-v2
  - https://developers.oag.com/apis/flight-info-alerts-v1
  - https://developers.oag.com/apis/flight-info-v2/GetFlight
  - https://developers.oag.com/apis/flight-info-v2/GetFlights
  - https://developers.oag.com/apis/locations-v1/GetLocations
  - https://developers.oag.com/apis/flight-info-connections-v1
  - https://developers.oag.com/apis/flight-info-alerts-v1/status
  - https://developers.oag.com/apis/schedules/GetActiveSchedules
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAlert
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAlerts
  - https://developers.oag.com/apis/flight-info-alerts-v1/createAlert
  - https://developers.oag.com/apis/flight-info-alerts-v1/deleteAlert
  - https://developers.oag.com/apis/flight-info-alerts-v1/updateAlert
  - https://developers.oag.com/apis/schedules/schedules-iata-carriers
  - https://developers.oag.com/apis/schedules/schedules-icao-carriers
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAccessKey
  - https://developers.oag.com/apis/flight-info-alerts-v1/updateProfile
  - https://developers.oag.com/apis/flight-info-alerts-v1/completeProfile
  - https://developers.oag.com/apis/flight-info-connections-v1/Connections
  - https://developers.oag.com/apis/flight-info-alerts-v1/getAccountProfile
  - https://developers.oag.com
servers:
- url: https://api.oag.com
tags:
- name: Locations
paths:
  /locations:
    get:
      operationId: get_locations
      tags:
      - Locations
      summary: Locations
      description: Master Data Locations API enables customers to access industry standard IATA, ICAO and FAA airport codes and related descriptive information.
      x-source: https://developers.oag.com/apis/locations-v1
      parameters:
      - name: AirportCode
        in: query
        required: false
        schema:
          type: string
        description: A code assigned by the IATA/ICAO/FAA to an airport. Accepts comma separated values.
      - name: CodeType
        in: query
        required: false
        schema:
          type: string
        description: Code type for Airports. Code type values are IATA, ICAO and FAA. Accepts comma separated values.
      - name: CountryCode
        in: query
        required: false
        schema:
          type: string
        description: A two letter ISO code of a country where an airport is located in. Accepts comma separated values.
      - name: CityCode
        in: query
        required: false
        schema:
          type: string
        description: A code of a city where an airport is located in. Accepts comma separated values.
      - name: Limit
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of items to return. If specified, the value should be between 1 and 1000.
      - name: After
        in: query
        required: false
        schema:
          type: string
        description: A cursor after refers to a random string of characters which marks a specific item in a list of data.
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLocationsResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    GetLocationsResponse:
      type: object
      properties:
        '200':
          type: string
          description: Success response with location data in application/json format.
        '400':
          type: string
          description: Bad Request – error details in application/json.
        '401':
          type: string
          description: Unauthorized – error details in application/json.
        '406':
          type: string
          description: Not Acceptable – the server cannot produce a response matching the request's Accept header.
        '500':
          type: string
          description: Internal Server Error – a server error occurred.
